.gallery,
.gallery img,
.gallery button,
.gallery__background,
.gallery__title
  position: absolute
  
.gallery
  top: 0px
  left: 0px
  width: 100vw
  height: 100vh
  background-color: rgba(0,0,0,0.9)
  z-index: $photo-galery

  img
    top: 50%
    left: 50%
    width: 600px
    height: 600px
    transform: translate(-300px, -300px)
    cursor: pointer
    z-index: $photo-galery + 1

  &__title
    top: 50%
    left: 50%
    width: 600px
    color: #ddd
    font-size: 1.2rem
    transform: translate(-300px, -360px)
    text-align: center
    z-index: $photo-galery + 1
  
  button
    width: 50px
    height: 50px
    top: calc(50% - 25px)
    z-index: $photo-galery + 2
    border: 0
    border-radius: 50%
    background-color: rgba(255,255,255,0.5)
    color: white
    outline: none
    font-size: 2rem
    cursor: pointer
  
  &__btn_prev
    left: 25%

  &__btn_next
    right: 25%

  button.gallery__close
    right: 5%
    top: 5%

  &__background
    top: 0px
    left: 0px
    width: 100vw
    height: 100vh

@media (max-width: 1430px)
  .gallery
    &__title
      top: 15%
      left: 10%
      width: 80%
      transform: none

    &__btn_prev
      left: 10%

    &__btn_next
      right: 10%

@media (max-width: 680px)
  .gallery
    img
      width: 85%
      height: auto
      text-align: center
      transform: translate(-50%, -50%)

    button.gallery__btn_prev
      top: auto
      bottom: 5%
      left: 30%

    button.gallery__btn_next
      top: auto
      bottom: 5%
      right: 30%